@{ Layout = null; }

@model MyAZHRM.Models.ForgetPassword

@*2023/Nov/17*@
@*@{
    ViewBag.Title = "Forgot Password";
}*@

@*2023/Nov/17*@
<head>

    <title>Forgot Password</title>

    @Styles.Render("~/CustomCSS/bootstrap.min.css", "~/CustomCSS/font-awesome.css", "~/CustomCSS/toastr.min.css", "~/CustomCSS/jquery.gritter.css", "~/CustomCSS/animate.css", "~/CustomCSS/style.css")
    <style>
        .input-validation-error {
            border: 1px solid red;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
</head>
<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold" style="text-align:center">Forgot Password</h2>

                    <p> Enter your email and your password will be reset and emailed to you. </p>

                    <div class="row">
                        <div class="col-lg-12">
                           
                                <div class="form-group">                                    
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                    <small>@Html.ValidationMessageFor(m => m.Email, "", new { style = "color: #950202; text-align: left;", @id = "valMsgEmail" })</small>
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b" id="mailsub">Send Email</button>
                                                                                  
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

</body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $("#Email").on("keyup", function () {
        validateEmail();
    });


    $("#mailsub").click(function () {
        var email = $("#Email").val();

        if (validateEmail())
        {
            $.ajax({
                url: "/Account/SendEmailNotification",
                type: "POST",
                dataType: "json",
                data: { Email: email },
                success: function (data) {
                    var successMsg = " Your email has been successfully sent"
                    swal("Success", successMsg, "success");
                },
                error: function (data) {
                    var erMsg = data.returnMsg;
                    swal("Failed", erMsg, "error");
                }
            })
        }
    })

    function validateEmail()
    {
        var pass = true;
        var email = $("#Email").val();
        var emailCtrl = $("#Email");

        emailCtrl.parent().removeClass('has-error');
        emailCtrl.parent().removeClass('has-success');
        emailCtrl.parent().find("small").remove();

        if (email.length == 0) {
            emailCtrl.parent().addClass('has-error');
            emailCtrl.parent().append('<small class="help-block" style="color: red;">Email is required</small>');
            pass = false;
        }
        else if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
            emailCtrl.parent().addClass('has-success');
            emailCtrl.prop('disabled', false);
        }
        else {
            emailCtrl.parent().addClass('has-error');
            emailCtrl.parent().append('<small class="help-block" style="color: red;">Invalid Email Address</small>');
            pass = false;
        }

        return pass;
    }
</script>