@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@Styles.Render("~/CustomCSS/bootstrap.min.css", "~/CustomCSS/font-awesome.css", "~/CustomCSS/toastr.min.css", "~/CustomCSS/jquery.gritter.css", "~/CustomCSS/animate.css", "~/CustomCSS/style.css")

<div class="middle-box text-center animated fadeInDown" style="margin-top:0px !important;">
    <h1>Error</h1>
    <h3 class="font-bold">An error occurred while processing your request</h3>
    <div class="error-desc">
       Error Message : @Model.Exception.Message.ToString().Trim()
    </div>
</div>

<!-- Mainly scripts -->
<script src="~/CustomJS/jquery-3.1.1.min.js"></script>
<script src="~/CustomJS/popper.min.js"></script>
<script src="~/CustomJS/bootstrap.js"></script>
