@{
    ViewBag.Title = "Dashboard";
}
@section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    @*<h1>@ViewBag.Title</h1>*@
                    <h2>@ViewBag.Message</h2>
                </hgroup>

            </div>
        </section>
    }

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>New data for the report</h5> <span class="label label-primary">IN+</span>
                                <div class="ibox-tools">
                                    <a class="close-link" href="~/Home/Index">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                      Sample
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>